<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Sign In</h3>
                <div class="d-flex justify-content-end social_icon">
                    <span><i class="fab fa-facebook-square"></i></span>
                    <span><i class="fab fa-google-plus-square"></i></span>
                    <span><i class="fab fa-twitter-square"></i></span>
                </div>
            </div>
            <div class="card-body">
<form #f="ngForm">
    <div class=" input-group form-group">
       <!-- <label>email</label>-->
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
        </div>
        <input #n="ngModel" placeholder="email"  type="text" name="title" class="form-control" [(ngModel)]="user.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
    </div>
    <div class="alert alert-danger" *ngIf="n.invalid && n.touched">E-mail is required</div>
    <div class="alert alert-danger" *ngIf="n.errors?.pattern">This is not a valid Email!!! </div>
    <div class=" input-group form-group">
        <!--<label>password</label>-->
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
        </div>
        <input #e="ngModel" placeholder="password"  type="password" name="duration "  class="form-control" [(ngModel)]="user.password" required>
    </div>
    <div class="alert alert-danger" *ngIf="e.invalid && e.touched">password is required</div>
    <div class="row align-items-center remember">
        <input type="checkbox">Remember Me
    </div>
    <div class="form-group">
    <input type="submit" class="btn float-right login_btn"   [disabled]="f.invalid" (click)="add()" value="Login">
    </div>
</form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Don't have an account?<a [routerLink]="['/register']">  Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>


