<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
<!------ Include the above in your HEAD tag ---------->


<nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                class="icon-bar"></span><span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://www.jquery2dotnet.com"> <p class="font-weight-bold" style="color: #f2a223;"><img [alt]="bookName" [src]="bookPictureUrl"> </p></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active"><a [routerLink]="['/home']" ><span class="glyphicon glyphicon-home"></span>Dashboard</a></li>
            <li> <a  [routerLink]="['/list']"> <span class="glyphicon glyphicon-user"></span> Users</a> </li>
            <li class="dropdown"><a [routerLink]="['/booking']" class="dropdown-toggle" data-toggle="dropdown">
                    <span
                            class="glyphicon glyphicon-list-alt"></span> Booking list
            </a>
                <ul class="dropdown-menu">
                    <li><a href="http://www.jquery2dotnet.com">Action</a></li>
                    <li><a href="http://www.jquery2dotnet.com">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                    class="glyphicon glyphicon-search"></span>Search </a>
                <ul class="dropdown-menu" style="min-width: 300px;">
                    <li>
                        <div class="row">
                            <div class="col-md-12">
                                <form class="navbar-form navbar-left" role="search">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="button">
                                                Go!</button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                    class="glyphicon glyphicon-comment"></span>Chats <span class="label label-primary">42</span>
            </a>
                <ul class="dropdown-menu">
                    <li><a href="#"><span class="label label-warning">7:00 AM</span>Hi :)</a></li>
                    <li><a href="#"><span class="label label-warning">8:00 AM</span>How are you?</a></li>
                    <li><a href="#"><span class="label label-warning">9:00 AM</span>What are you doing?</a></li>
                    <li class="divider"></li>
                    <li><a href="#" class="text-center">View All</a></li>
                </ul>
            </li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                    class="glyphicon glyphicon-envelope"></span>Inbox <span class="label label-info">32</span>
            </a>
                <ul class="dropdown-menu">
                    <li><a href="#"><span class="label label-warning">4:00 AM</span>Favourites Snippet</a></li>
                    <li><a href="#"><span class="label label-warning">4:30 AM</span>Email marketing</a></li>
                    <li><a href="#"><span class="label label-warning">5:00 AM</span>Subscriber focused email
                        design</a></li>
                    <li class="divider"></li>
                    <li><a href="#" class="text-center">View All</a></li>
                </ul>
            </li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" (click)="logout()" ><i class="fas fa-sign-out-alt"></i>Logout </a>
                <ul class="dropdown-menu">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-cog"></span>Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><span class="glyphicon glyphicon-off"></span>Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->

</nav>

<div class="container mt-3 mb-4">
    <div class="col-lg-9 mt-4 mt-lg-0">
        <div class="row">
            <div class="col-md-12">
                <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
                    <table class="table manage-candidates-top mb-0">
                        <thead>
                        <tr>
                            <th>Booking List</th>
                            <th class="text-center"> Tickets</th>
                            <th class="action text-right">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="candidates-list" *ngFor="let r  of list">
                            <td class="title">
                                <div class="candidate-list-details">
                                    <div class="candidate-list-info">
                                        <div class="candidate-list-title">
                                            <h5 class="mb-0"><a href="#"></a></h5>
                                        </div>
                                        <div class="candidate-list-option">
                                            <ul class="list-unstyled">
                                                <li><i class="fas fa-film pr-1"></i>{{ r.film}}</li>
                                                <li><i class="fas fa-inbox pr-1"></i> {{r.email}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="candidate-list-favourite-time text-center">
                                <a class="candidate-list-favourite order-2 text-danger" href="#"><i class="fas fa-ticket-alt"></i></a>
                                <br>
                                <span class="candidate-list-time order-1">{{r.ticket}}</span>
                            </td>
                            <td>
                                <ul class="list-unstyled mb-0 d-flex justify-content-end">
                                    <li><a class="text-primary" data-toggle="tooltip" title="" data-original-title="view" [routerLink]="['/show/'+r.id]"><i class="far fa-eye"></i></a></li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

