.cardWrap {
    width: 30em;
    margin: 3em auto;
    color: #fff;
    font-family: sans-serif;
}
.card {
    background: linear-gradient(to bottom, #e84c3d 0%, #e84c3d 26%, #ecedef 26%, #ecedef 100%);
    height: 18em;
    float: left;
    position: relative;
    padding: 1em;
    margin-top: 100px;
}
.cardLeft {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 20em;
}
.cardRight {
    width: 9em;
    border-left: 0.18em dashed #fff;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.cardRight:before, .cardRight:after {
    content: "";
    position: absolute;
    display: block;
    width: 0.9em;
    height: 0.9em;
    background: #fff;
    border-radius: 50%;
    left: -0.5em;
}
.cardRight:before {
    top: -0.4em;
}
.cardRight:after {
    bottom: -0.4em;
}
h1 {
    font-size: 1.1em;
    margin-top: 0;
}
h1 span {
    font-weight: normal;
}
.title, .name, .seat, .time {
    text-transform: uppercase;
    font-weight: normal;
}
.title h2, .name h2, .seat h2, .time h2 {
    font-size: 0.9em;
    color: #525252;
    margin: 0;
}
.title span, .name span, .seat span, .time span {
    font-size: 0.7em;
    color: #a2aeae;
}
.title {
    margin: 2em 0 0 0;
}
.name, .seat {
    margin: 0.7em 0 0 0;
}
.time {
    margin: 0.7em 0 0 1em;
}
.seat, .time {
    float: left;
}
.eye {
    position: relative;
    width: 2em;
    height: 1.5em;
    background: #fff;
    margin: 0 auto;
    border-radius: 1em/0.6em;
    z-index: 1;
}
.eye:before, .eye:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
}
.eye:before {
    width: 1em;
    height: 1em;
    background: #e84c3d;
    z-index: 2;
    left: 8px;
    top: 4px;
}
.eye:after {
    width: 0.5em;
    height: 0.5em;
    background: #fff;
    z-index: 3;
    left: 12px;
    top: 8px;
}
.number {
    text-align: center;
    text-transform: uppercase;
}
.number h3 {
    color: #e84c3d;
    margin: 0.9em 0 0 0;
    font-size: 2.5em;
}
.number span {
    display: block;
    color: #a2aeae;
}
.barcode {
    height: 2em;
    width: 0;
    margin: em 0 0 0.8em;
    box-shadow: 1px 0 0 1px #343434, 5px 0 0 1px #343434, 10px 0 0 1px #343434, 11px 0 0 1px #343434, 15px 0 0 1px #343434, 18px 0 0 1px #343434, 22px 0 0 1px #343434, 23px 0 0 1px #343434, 26px 0 0 1px #343434, 30px 0 0 1px #343434, 35px 0 0 1px #343434, 37px 0 0 1px #343434, 41px 0 0 1px #343434, 44px 0 0 1px #343434, 47px 0 0 1px #343434, 51px 0 0 1px #343434, 56px 0 0 1px #343434, 59px 0 0 1px #343434, 64px 0 0 1px #343434, 68px 0 0 1px #343434, 72px 0 0 1px #343434, 74px 0 0 1px #343434, 77px 0 0 1px #343434, 81px 0 0 1px #343434;
}
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20p;
   margin-left:600px;
    margin-top: 10px;

}


body {
    font-size: 12px;
    line-height: 1.3;
    font-family: Arial, Helvetica, Sans-Serif;
    color: #ccc;


}

a { color: #e7b038; text-decoration: underline; cursor:pointer; }
a:hover { text-decoration: none; }
a img { border: 0; }

input, textarea, select { font-size: 12px; font-family: Arial, Helvetica, sans-serif; }
textarea { overflow: auto; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }

.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }
.text-right { text-align:right; }

h2 { font-size:10px; color:#f2a223; font-weight:bold; }
h3 { font-size:14px; color:black; font-weight:bold; }
h4 { font-size:14px; color:#f3b12b; font-weight:bold; }

#shell { width:980px; margin:0 auto; }

#header { position:relative; }

h1#logo { position:absolute; top:37px; left:0; }
h1#logo a { float:left; width:400px; height:49px;
    background:url('../../assets/images/reservi (3).png') no-repeat 0 0; max-width: 300px;  font-size: 0; line-height: 0; text-indent: -4000px; }

.social { float:right; width:160px; padding-top:11px; }
.social span { float:left; display:inline; font-size:10px; color:black; line-height:16px; padding-right:5px; }
.social ul { list-style:none; }
.social ul li { float:left; display:inline; width:16px; padding-right:2px;  }
.social ul li a { float:left; display:inline; width:16px; height:16px; background:url('../../assets/images/social.gif') no-repeat 0 0; font-size: 0; line-height: 0; text-indent: -4000px; }
.social ul li a.facebook { background-position:-18px 0; }
.social ul li a.vimeo { background-position:-36px 0; }
.social ul li a.rss { background-position:-54px 0; }

#navigation { float:right; clear:right; padding-top:28px; padding-bottom:47px; }
#navigation ul { list-style:none; }
#navigation ul li { float:left; display:inline; padding-left:29px;  }
#navigation ul li a { font-size:14px; font-weight:bold; color:black; text-decoration:none; }
#navigation ul li a.active,
#navigation ul li a:hover { color:#d91d2a; }

#sub-navigation { display:block; clear:right; border-top:1px dashed #666; border-bottom:1px dashed #666; padding:8px 0;  }
#sub-navigation ul { list-style:none; }
#sub-navigation ul li { float:left; display:inline; padding-right:23px;  }
#sub-navigation ul li a { font-size:14px; font-weight:bold; color:black; line-height:24px; text-decoration:none; }
#sub-navigation ul li a:hover { text-decoration:underline; }

#search { width:346px; margin:0 0 0 auto; }
#search label { float:left; display:inline; font-size:14px; font-weight:bold; color:#fff; line-height:24px; padding-right:6px; }
#search .search-field { width:238px; border: 1px solid #413e3e; background:#000; color:#787878; padding:2px 0 2px 2px; }
#search .search-button { font-size:14px; font-weight:bold; border:0; background:none; color:#fff;   cursor:pointer; }

#main { border-bottom:1px dashed #413e3e; }
#content {  }

.box { width:980px; border-bottom:1px dashed #413e3e; padding-bottom:21px; }

.box .head { width:980px; padding-top:14px; padding-bottom:11px; }
.box .head h2 { float:left; display:inline; }

.box .movie { width:152px; float:left; padding-right:12px; }
.movie-image { float:left; width:152px; height:214px; position:relative; }
.movie-image img { width:152px; height:214px; }
.movie-image a { float: left; display: inline; width:152px; height:214px; position: relative; z-index: 2; }
.play { position: absolute; top: 0; left: 0; width:152px; height:214px; background: url('../../assets/images/image-hover.png'); display:block; z-index: 5; cursor:pointer; display:none; }
.movie span.name { font-weight:bold; color:#fff; font-size:14px; text-align:center; padding-top:160px; display:block; }

.box .last { padding:0; }

.rating { float:left; width:152px; padding-top:8px; }
.rating p { float:left; font-size:10px; color:#fff; font-weight:bold; }
.rating .stars { float:left; width:60px; height:11px; background:url('../../assets/images/stars.gif') no-repeat 0 0; margin-left:2px;}
.rating .stars-in { width:48px; display:inline; background:url('../../assets/images/stars.gif') no-repeat 0 bottom; position:absolute; height:11px; font-size: 0; line-height: 0; text-indent: -4000px;}
.comments { background:url('../../assets/images/comments.gif') no-repeat 0 center; padding-left:12px; float:right; }

#news { width:460px; float:left; }
#news .head { width:460px; padding-top:11px; padding-bottom:14px;  }
#news h3, #coming h3 { float:left;  }

#coming { width:490px; float:left; padding-left:30px; }
#coming .head { width:490px; padding-top:11px; padding-bottom:14px;  }
#coming .head strong { color:#ff361a; }
#coming .content { min-height:130px; height: auto !important; height:130px; padding-bottom:20px; }
#coming .content h4 { padding-bottom:3px; }

.content { padding-bottom:28px; }
.content .date { font-size:10px; color:#fff; }
.content img { float:left; width:68px; padding-right:8px; }
.content p { font-size:13px; color:#fff; line-height:16px; }
.content a { font-size:11px;  }
.movie-info {
    margin-top: 1em;
}
.info-section {
    display: table-cell;
    text-transform: uppercase;
    text-align: center;
}

.info-section:first-of-type {
    text-align: left;
}

.info-section:last-of-type {
    text-align: right;
}

.info-section label {
    display: block;
    color: beige ;
    margin-bottom: .5em;
    font-size: 9px;
}

.info-section span {
    font-weight: 700;
    font-size: 11px;
}
#footer { padding:15px 0 0 0; }
#footer p { text-align:center; font-size:10px; padding-bottom:11px; }
#footer a { color:#9c9c9c; font-size:10px; }
#footer a:hover { color:#e44400; text-decoration:none; }

#footer a:hover.designby { color:#9c9c9c; text-decoration:none; }
